/* .navigasi{
    background-color: pink;
}
.main{
    background-color: lightgreen;
}
.main span{
    background-color: lightblue;
} */
/* a {
    display: inline-block;
    background-color: pink;
    width: 200px;
    height: 200px;
}

img{
    width: 200px;
}
.main {
    width: 600px;
    background-color: lightgreen;
}

.main h2{
    background-color: pink;
} */
/* h1, h2, p{
    background-color: lightgreen;
} */

/* img{
    display: none;
} */
.navigasi li{
    display: inline;
}
