/* div{
    width: 50%;
    height: 200px;
    background-color: lightgreen;
} */

/* .satu {
    width: 200px;
    height: 200px;
    background-color: pink;
}

.dua{
    width: 120%;
    background-color: aqua;
} */

div{
    width: 200px;
    background-color: pink;
    height: 200px;
}